<form class="{{cssClass}} npc-form" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                    placeholder='{{localize "ICRPG.Name"}}' /></h1>

            {{!-- Health --}}
            <div class="resource health">
                <label for="data.health.value" class="resource-label"> {{localize "ICRPG.HP"}} </label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number" />
                    <span class="separator">/</span>
                    <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" />
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "ICRPG.Attributes"}}</a>
        <a class="item" data-tab="description">{{localize "ICRPG.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="attributes-content">
                <div class="resources">

                    {{!-- Header --}}
                    <div class="resource stat resource-header">
                        <span class="header">{{localize "ICRPG.Stats"}}</span>
                    </div>

                    {{!-- Stats --}}
                    {{#each (icrpg-array "str" "dex" "con") as |id|}}
                    {{#with (lookup ../data.stats id) as |stat|}}
                    <div class="resource stat {{id}}">
                        <label for="data.stats.{{id}}.value" class="resource-label rollable"
                            data-roll='1d20+{{stat.value}}'
                            data-label='{{localize (icrpg-concat "ICRPG." (icrpg-toUpperCase id))}}'>
                            {{localize (icrpg-concat "ICRPG." (icrpg-toUpperCase id))}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value"
                                name="data.stats.{{id}}.value">{{numberFormat stat.value decimals=0 sign=false}}</span>
                            <input type="text" name="data.stats.{{id}}.base" value="{{stat.base}}"
                                data-dtype="Number" />
                            <input type="text" name="data.stats.{{id}}.loot" value="{{stat.loot}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}

                </div>
                <div class="resources">

                    {{!-- Header --}}
                    <div class="resource stat resource-header">
                        <span class="header">&nbsp;</span>
                    </div>

                    {{!-- Stats --}}
                    {{#each (icrpg-array "int" "wis" "cha") as |id|}}
                    {{#with (lookup ../data.stats id) as |stat|}}
                    <div class="resource stat {{id}}">
                        <label for="data.stats.{{id}}.value" class="resource-label rollable"
                            data-roll='1d20+{{stat.value}}'
                            data-label='{{localize (icrpg-concat "ICRPG." (icrpg-toUpperCase id))}}'>
                            {{localize (icrpg-concat "ICRPG." (icrpg-toUpperCase id))}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <span class="value"
                                name="data.stats.{{id}}.value">{{numberFormat stat.value decimals=0 sign=false}}</span>
                            <input type="text" name="data.stats.{{id}}.base" value="{{stat.base}}"
                                data-dtype="Number" />
                            <input type="text" name="data.stats.{{id}}.loot" value="{{stat.loot}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}

                </div>
                <div class="resources">

                    {{!-- Header --}}
                    <div class="resource effort resource-header">
                        <span class="header">{{localize "ICRPG.Effort"}}</span>
                    </div>

                    {{!-- Effort --}}
                    {{#each (icrpg-array "basic" "weapon" "magic" "ultimate") as |id|}}
                    {{#with (lookup ../data.effort id) as |eff|}}
                    <div class="resource effort {{id}}">
                        <label for="data.effort.{{id}}.value" class="resource-label {{eff.die}} rollable"
                        data-roll='1{{#icrpg-is id "magic"}}d8{{else}}{{eff.die}}{{/icrpg-is}}+{{eff.value}}'
                            data-label='{{localize (icrpg-concat "ICRPG.Effort" (icrpg-capitalize id))}}'>
                            {{localize (icrpg-concat "ICRPG.Effort" (icrpg-capitalize id))}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.effort.{{id}}.value" value="{{eff.value}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}

                </div>
            </div>
        </div>

        {{!-- Notes Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>

</form>