<form class="{{cssClass}} npc-form" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                    placeholder='{{localize "ICRPG.Name"}}' /></h1>

            {{!-- Health --}}
            <div class="resource health">
                <label for="data.health.value" class="resource-label"> {{localize "ICRPG.HP"}} </label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.health.value" value="{{system.health.value}}" data-dtype="Number" />
                    <span class="separator">/</span>
                    <input type="text" name="data.health.max" value="{{system.health.max}}" data-dtype="Number" />
                </div>
            </div>

            {{!-- Defense --}}
            <div class="resource armor">
                <label for="data.defense.value" class="resource-label"> {{localize "ICRPG.Defense"}} </label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.defense.value" value="{{system.defense.value}}" data-dtype="Number" />
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "ICRPG.Attributes"}}</a>
        <a class="item" data-tab="description">{{localize "ICRPG.Notes"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="attributes-content">
                <div class="resources">

                    {{!-- Header --}}
                    <div class="resource stat resource-header">
                        <span class="header">{{localize "ICRPG.Stats"}}</span>
                    </div>

                    {{!-- Stats --}}
                    <div class="resource stat">
                        <label for="data.stats.str.value" class="resource-label rollable"
                            data-roll='1d20+{{system.stats.str.value}}'
                            data-label='{{localize "ICRPG.STR"}}'>{{localize "ICRPG.STR"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.stats.str.value" value="{{system.stats.str.value}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resource stat">
                        <label for="data.stats.dex.value" class="resource-label rollable"
                            data-roll='1d20+{{system.stats.dex.value}}'
                            data-label='{{localize "ICRPG.DEX"}}'>{{localize "ICRPG.DEX"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.stats.dex.value" value="{{system.stats.dex.value}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resource stat">
                        <label for="data.stats.con.value" class="resource-label rollable"
                            data-roll='1d20+{{system.stats.con.value}}'
                            data-label='{{localize "ICRPG.CON"}}'>{{localize "ICRPG.CON"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.stats.con.value" value="{{system.stats.con.value}}"
                                data-dtype="Number" />
                        </div>
                    </div>

                </div>
                <div class="resources">

                    {{!-- Header --}}
                    <div class="resource stat resource-header">
                        <span class="header">&nbsp;</span>
                    </div>

                    {{!-- Stats --}}
                    <div class="resource stat">
                        <label for="data.stats.int.value" class="resource-label rollable"
                            data-roll='1d20+{{system.stats.int.value}}'
                            data-label='{{localize "ICRPG.INT"}}'>{{localize "ICRPG.INT"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.stats.int.value" value="{{system.stats.int.value}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resource stat">
                        <label for="data.stats.wis.value" class="resource-label rollable"
                            data-roll='1d20+{{system.stats.wis.value}}'
                            data-label='{{localize "ICRPG.WIS"}}'>{{localize "ICRPG.WIS"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.stats.wis.value" value="{{system.stats.wis.value}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resource stat">
                        <label for="data.stats.cha.value" class="resource-label rollable"
                            data-roll='1d20+{{system.stats.cha.value}}'
                            data-label='{{localize "ICRPG.CHA"}}'>{{localize "ICRPG.CHA"}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.stats.cha.value" value="{{system.stats.cha.value}}"
                                data-dtype="Number" />
                        </div>
                    </div>

                </div>
                <div class="resources">

                    {{!-- Header --}}
                    <div class="resource effort resource-header">
                        <span class="header">{{localize "ICRPG.Effort"}}</span>
                    </div>

                    {{!-- Effort --}}
                    {{#each (icrpg-array "basic" "weapon" "gun" "magic" "ultimate") as |id|}}
                    {{#with (lookup ../system.effort id) as |eff|}}
                    <div class="resource effort {{id}}">
                        <label for="data.effort.{{id}}.value" class="resource-label {{eff.die}} rollable"
                            data-roll='1{{eff.die}}+{{eff.value}}'
                            data-label='{{localize (icrpg-concat "ICRPG.Effort" (icrpg-capitalize id))}}'>
                            {{localize (icrpg-concat "ICRPG.Effort" (icrpg-capitalize id))}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.effort.{{id}}.value" value="{{eff.value}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                    {{/with}}
                    {{/each}}

                </div>
            </div>
        </div>

        {{!-- Notes Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=system.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>

</form>