<form class="{{cssClass}} item-form" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="resource grid grid-2col">
{{!-- 
                <div class="resource flex-group-center">
                    <label for="data.quantity" class="resource-label">{{localize "ICRPG.Quantity"}}</label>
                    <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
                </div>
                <div class="resource flex-group-center">
                    <label for="data.equipped" class="resource-label">{{localize "ICRPG.Equipped"}}</label>
                    <input type="checkbox" {{checked system.equipped}} name="system.equipped" value="{{system.equipped}}"
                        data-dtype="Boolean" />
                </div>
--}}
                {{#icrpg-has item "mastery"}}
                <div class="resource grid grid-2col">
                    <div class="resource flex-group-center">
                        <label for="data.mastery" class="resource-label" style="margin-left: -2px">{{localize "ICRPG.Mastery"}}</label>
                        <input type="text" name="system.mastery" value="{{system.mastery}}"
                            data-dtype="Number" />
                    </div>
                </div>
                {{/icrpg-has}}

            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ICRPG.Description"}}</a>
        <!--<a class="item" data-tab="attributes">{{localize "ICRPG.Attributes"}}</a>-->
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=system.description target="system.description" button=true owner=owner editable=editable}}
        </div>
        <!--
        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
        </div>
-->
    </section>

</form>