<form class="{{cssClass}} item-form" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="resource grid grid-2col">
                <div class="resource flex-group-center">
                    {{#if (eq item.type "armor")}}
                    <label for="system.defenseBonus" class="resource-label">{{localize "ICRPG.DefenseBonus"}}</label>
                    <input type="text" name="system.defenseBonus" value="{{data.system.defenseBonus}}" data-dtype="Number" />
                    {{else}}
                    {{#icrpg-quantity item}}
                    <label for="system.quantity" class="resource-label">{{localize "ICRPG.Quantity"}}</label>
                    <input type="text" name="system.quantity" value="{{data.system.quantity}}" data-dtype="Number" />
                    {{/icrpg-quantity}}
                    {{/if}} 
                </div>
                <div class="resource flex-group-center">
                    <label for="system.equipped" class="resource-label">{{localize "ICRPG.Equipped"}}</label>
                    <input type="checkbox" {{checked data.system.equipped}} name="system.equipped" value="{{data.system.equipped}}"
                        data-dtype="Boolean" />
                </div>
            </div>
            {{#icrpg-effortable item}}
            <div class="resource grid grid-2col">
                <div class="resource flex-group-center">
                    <label for="system.useFormula" class="resource-label" style="margin-left: {{#icrpg-quantity item}}-2px{{else}}7px{{/icrpg-quantity}}">{{localize "ICRPG.Use"}}</label>
                    <input type="text" name="system.useFormula" value="{{data.system.useFormula}}" placeholder="1d20"
                        data-dtype="text" />
                </div>
            </div>
            <div class="resource grid grid-2col">
                <div class="resource flex-group-center">
                    <label for="system.effortFormula" class="resource-label" style="margin-left: {{#icrpg-quantity item}}-2px{{else}}7px{{/icrpg-quantity}}">{{localize "ICRPG.Effort"}}</label>
                    <input type="text" name="system.effortFormula" value="{{data.system.effortFormula}}"
                        data-dtype="text" />
                </div>
            </div>
            {{/icrpg-effortable}}
            {{#icrpg-has item "durability"}}
            <div class="resource grid grid-2col">
                <div class="resource flex-group-center">
                    <label for="system.durability" class="resource-label" style="margin-left: {{#icrpg-quantity item}}-2px{{else}}7px{{/icrpg-quantity}}">{{localize "ICRPG.Durability"}}</label>
                    <input type="text" name="system.durability" value="{{data.system.durability}}"
                        data-dtype="Number" />
                </div>
            </div>
            {{/icrpg-has}}
            {{#icrpg-has item "spellType"}}
            <div class="resource grid grid-2col">
                <div class="resource flex-group-center">
                    <label for="system.spellType" class="resource-label" style="margin-left: 9px">{{localize "ICRPG.SpellType"}}</label>
                    <select name="system.spellType">
                        {{selectOptions config.SpellTypes selected=item.data.system.spellType localize=true}}
                    </select>
                </div>
            </div>
            {{/icrpg-has}}
            {{#icrpg-has item "mastery"}}
            <div class="resource grid grid-2col">
                <div class="resource flex-group-center">
                    <label for="system.mastery" class="resource-label" style="margin-left: -2px">{{localize "ICRPG.Mastery"}}</label>
                    <input type="text" name="system.mastery" value="{{data.system.mastery}}"
                        data-dtype="Number" />
                </div>
            </div>
            {{/icrpg-has}}
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "ICRPG.Description"}}</a>
        <!--<a class="item" data-tab="attributes">{{localize "ICRPG.Attributes"}}</a>-->
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor data.system.description target="system.description" button=true owner=owner editable=editable}}
        </div>
        <!--
        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
        </div>
-->
    </section>

</form>